@model Fornecedor.Application.ViewModels.EmpresaViewModel

@{
    ViewBag.Title = "Excluir Empresa";
}

<h2>@ViewBag.Title</h2>

<h3>Você tem certeza que deseja excluir esta empresa?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger"/>
            @Html.ActionLink("Voltar", "Index", null, new {@class = "btn btn-default"})
        </div>
    }
</div>